<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
</head>
<body>
<p th:text="${book.id + '. ' + book.name + ', ' + book.nameAuthor + ', ' + book.yearBook}"></p>

<div th:if="${book.author == null or book.author.id == 0}">
    <form th:method="PATCH" th:action="@{/books/{id}/addAuthor(id=${book.id})}" th:object="${book}">
        <p>Это книга свобода. Кому назначить ее ?</p>
        <label for="author">Выберите человека:</label>
        <select th:field="*{author.id}" id="author">
            <option th:each="author:${authors}" th:value="${author.id}"
                    th:text="${author.id + '. ' + author.fullname + ', ' + author.year}"></option>
        </select>
        <hr/>
        <input type="submit" value="Назначить книгу">
    </form>
</div>
<div th:if="${book.author != null and book.author.id != 0}">
    <span>Книга сейчас у:</span>
    <a th:href="@{/authors/{id}(id=${book.author.id})}"
       th:text="${book.author.fullname + ', ' + book.author.year}"></a>
    <form th:method="PATCH" th:action="@{/books/{id}/takeBook(id=${book.id})}">
        <input type="submit" value="Освободить книгу">
    </form>
    <hr/>
</div>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.id})}">
    <input type="submit" value="Редактировать">
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.id})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>
