<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}/edit(id=${book.id})}" th:object="${book}">
    <label for="name">Введите название книги:</label>
    <input type="text" th:field="*{name}" id="name" name="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">

    </div>
    <br/>
    <label for="nameAuthor">Введите автора:</label>
    <input type="text" th:field="*{nameAuthor}" id="nameAuthor" name="nameAuthor">
    <div style="color:red" th:if="${#fields.hasErrors('nameAuthor')}" th:errors="*{nameAuthor}">

    </div>
    <br/>
    <label for="yearBook">Введите год:</label>
    <input type="text" th:field="*{yearBook}" id="yearBook" name="yearBook">
    <div style="color:red" th:if="${#fields.hasErrors('yearBook')}" th:errors="*{yearBook}">

    </div>
    <br/>
    <hr/>
    <input type="submit" value="Редактировать!">


</form>

</body>
</html>
